@msf:registry = http://repo.marketsimplified.com/repository/npm-hosted/
init.author.name = vigneshwaran.j
init.author.email = vigneshwaran.j@marketsimplified.com
email=vigneshwaran.j@marketsimplified.com
always-auth=true
_auth=YWRtaW46TXNmUmVwbyQyMDIw